/TestTask.Api/obj
/TestTask.Api/bin
/TestTask.Api/Properties/PublishProfiles/*.pubxml
/TestTask.Application/obj
/TestTask.Application/bin
/TestTask.Application.UnitTests/obj
/TestTask.Application.UnitTests/bin
/TestTask.Domain/obj
/TestTask.Domain/bin
/TestTask.IntegrationTests/obj
/TestTask.IntegrationTests/bin
/TestTask.Providers/obj
/TestTask.Providers/bin
*.user
.vs
